header {
  // box-shadow: 5px 70px 22px -8px #777777;
  box-shadow: -2px 3px 21px -12px #777777;
  background-color: RGB(95, 122, 227);
  border-radius: 10px;
  margin: 8px;
  .calender {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;

    h1 {
      font-size: 30px;
      font-weight: bold;
      color: white;
    }
    &-item {
      display: flex;
      align-items: center;
      padding: 0 30px;
      gap: 5px;
      &-account {
        display: flex;
        align-items: center;
        span {
          padding: 10px;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          overflow: hidden;
          display: inline-block;
          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }
      &-button {
        button {
          color: white;
          background: orange;
          padding: 10px;
          border-radius: 50px;
        }
      }
    }
  }
}
