<div class="mainCalender">
  <div class="mainCalender-container card">
    <h1>6月</h1>
    <div class="monthContainer">
      <div class="weeks">
        <div *ngFor="let item of week" class="week">
          <p>{{ item }}</p>
        </div>
      </div>
      <div class="days">
        <div class="days-inner" *ngFor="let item of days">
          <p>{{ item }}</p>
          <div class="itemSchedule">
            <p>お買い物</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mainCalender-container card">
    <h1>6月</h1>
    <div class="monthContainer">
      <div class="weeks">
        <div *ngFor="let item of week" class="week">
          <p>{{ item }}</p>
        </div>
      </div>
      <div class="days">
        <div class="days-inner" *ngFor="let item of days">
          <p>{{ item }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="mainCalender-container card">
    <h1>6月</h1>
    <div class="monthContainer">
      <div class="weeks">
        <div *ngFor="let item of week" class="week">
          <p>{{ item }}</p>
        </div>
      </div>
      <div class="days">
        <div class="days-inner" *ngFor="let item of days">
          <p>{{ item }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
