<div class="mainCalender" #scrollContainer>
  <div class="mainCalender-container card" *ngFor="let item of month">
    <div class="year">
      <h1>{{ year }}年</h1>
      <h2 class="month">{{ item + 1 }}<span>月</span></h2>
    </div>
    <div class="monthContainer">
      <div class="weeks">
        <div *ngFor="let week of weeks" class="week">
          <p>{{ week }}</p>
        </div>
      </div>
      <div class="days">
        <div
          class="days-inner"
          *ngFor="let el of viewMonth[item]"
          [ngClass]="{
            style: el.style === false,
            done: el.style === false,
            nowDay: el.nowDate === true,
            bgColor: el === selectedItem
          }"
          (click)="getData(el)"
        >
          <div class="dateContainer">
            <span class="date">{{ el.date }}</span>
          </div>
          <div class="itemSchedule">
            <div
              class="item"
              *ngIf="el.schedule !== ''"
              [style.background]="el.color"
            >
              <p class="itemText">{{ el.schedule }}</p>
              <p class="itemBorder"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-add-schedule [sendSchedule]="sendSchedule"></app-add-schedule>
</div>
