.mainCalender {
  width: 100%;
  height: 88vh;
  overflow-y: auto;
  // overflow: hidden;
  padding: 10px 10px 0 10px;
  &::-webkit-scrollbar {
    display: none;
  }
  &-container:not(:first-child) {
    margin-top: 40px;
  }
  &-container {
    height: auto;
    margin-bottom: 20px;
    padding: 20px 40px 50px 40px;

    .year {
      justify-content: center;
      display: flex;
      text-align: center;
      font-weight: bold;
      margin: 10px 0;
      h1 {
        align-self: flex-end;
      }
      .month {
        font-size: 30px;
        margin: 0 5px;
        align-self: flex-end;
        line-height: 1;
        vertical-align: text-bottom;
        display: inline-block;
        margin: 0 5px;
        padding: 0;
      }
      span {
        font-size: 16px;
        align-self: flex-end;
      }
    }
    .monthContainer {
      margin-top: 0 auto;

      .weeks {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        text-align: center;
        margin: 10px 0;
        p {
          font-weight: bold;
        }
      }
      .days {
        display: grid;
        gap: 1%;
        grid-template-columns: repeat(7, 1fr);
        grid-auto-rows: 1fr;
        &-inner {
          height: 100px;
          width: 185px;
          border: 2px solid rgb(161, 156, 156);
          border-radius: 5px;
          margin: 4px auto;
          overflow: hidden;
          text-overflow: ellipsis;
          cursor: pointer;
          &:hover {
            background: rgb(230, 225, 225);
          }
          .dateContainer {
            padding: 3px 3px 1px 10px;
            .date {
              font-weight: bold;
              font-size: 14px;
            }
          }
          .itemSchedule {
            width: 90%;
            margin: 0 auto;
            margin-top: 3px;
            // height: 100px;
            height: 100%;

            .item {
              margin-bottom: 6px;
              background-color: RGB(95, 122, 227);
              border-radius: 3px;
              width: 100%;
              padding-left: 3px;
              // &:nth-child(4) {
              //   display: none;
              // }

              .itemText {
                font-size: 8px;
                padding: 2px;
                color: rgb(217, 212, 212);
                font-weight: bold;
                letter-spacing: 2px;
              }
            }
          }
        }
        .done {
          border: none;
          background: rgb(241, 240, 240);
          cursor: auto;
          &:hover {
            background: rgb(241, 240, 240);
          }
          .item {
            background: none;
          }
          .date {
            color: gray;
          }
        }
        .click {
          background: rgb(230, 225, 225);
        }
        .bgColor {
          background: rgb(230, 225, 225);
        }
        .today {
          background: RGB(136, 192, 208);
          border: none;
          &:hover {
            opacity: 0.8;
          }
        }
        .special {
          .date {
            color: RGB(240, 62, 62);
          }
        }
      }
    }
  }
}
