<div class="container" cdkDrag>
  <div class="top"></div>
  <div class="container-inner">
    <div class="date">
      <p>1月1日<span>に予定を追加</span></p>
    </div>
    <div class="schedule">
      <p>予定</p>
      <input type="text" placeholder="予定を追加" />
    </div>
    <div class="color">
      <p>色を選択</p>
      <div class="color-inner">
        <div class="color-red"></div>
        <div class="color-red"></div>
        <div class="color-red"></div>
        <div class="color-red"></div>
      </div>
    </div>

    <div class="button">
      <button class="cancel">キャンセル</button>
      <button class="ok">追加</button>
    </div>
  </div>
</div>
