<div class="container" cdkDrag [ngClass]="{ show: isShow === true }">
  <!-- <mat-icon>control_camera</mat-icon> -->
  <div class="top"></div>
  <div class="container-inner">
    <div class="date">
      <p *ngIf="sendSchedule !== undefined">
        {{ sendSchedule.selectedMonth }}月{{ sendSchedule.date }}日<span
          >に予定を追加</span
        >
      </p>
    </div>
    <div class="schedule">
      <p>予定</p>
      <input type="text" placeholder="予定を追加" [(ngModel)]="formText" />
    </div>
    <div class="color">
      <p>色を選択</p>
      <div class="color-inner">
        <div
          (click)="clickColor(item, i)"
          *ngFor="let item of boxColor; let i = index"
          [ngClass]="{ selected: selectedItem === i }"
        ></div>
      </div>
    </div>

    <div class="button">
      <button class="cancel" (click)="cancel()">キャンセル</button>
      <button class="ok" (click)="addSchedule()">追加</button>
    </div>
  </div>
</div>
