<!-- <div class="monthContainer">
  <div class="weeks">
    <div *ngFor="let week of weeks" class="week">
      <p>{{ week }}</p>
    </div>
  </div>
  <div class="days">
    <div
      class="days-inner"
      *ngFor="let el of calendar[item]"
      [ngClass]="{
        style: el.style === false,
        none: true,
        done: el.style === false,
        nowDay: el.nowDate === true
      }"
    >
      <div class="dateContainer">
        <span class="date">{{ el.date }}</span>
      </div>
      <div class="itemSchedule">
        <p>お買い物</p>
      </div>
    </div>
  </div>
</div> -->
