.subCalender {
  padding: 10px;
  height: 88vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  .subCalenderInner {
    padding: 20px 30px;
    width: 100%;
    height: 400px;
    .yearContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      h1 {
        text-align: center;
        font-weight: bold;
        margin: 2px 0 0 5px;
      }
    }

    .monthTitle {
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      .next {
        cursor: pointer;
        padding: 5px;
        user-select: none;
        font-weight: bold;
      }
      .none {
        color: gray;
        cursor: auto;
      }
    }
    .monthContainer {
      .weeks {
        font-weight: bold;
        font-size: 12px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        text-align: center;
        .colorRed {
          color: red;
        }
      }
    }
    .days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      height: 65%;
      text-align: center;
      align-items: center;
      padding-bottom: 20px;
      border-bottom: 0.5px solid black;
      .day {
        margin-top: 10px;

        .eventDay {
          color: black;
          border-radius: 50%;
        }

        span {
          margin: 0 auto;
          display: block;
          height: 26px;
          width: 26px;
          font-weight: bold;
          font-size: 12px;
          padding-top: 7px;
        }
        .done {
          color: rgb(175, 170, 170);
        }
        .today {
          color: rgb(164, 39, 39);
        }
        .special {
          color: RGB(240, 62, 62);
        }
      }
    }
  }
}
