.subCalender {
  height: 100%;
  padding: 10px;
  .subCalenderInner {
    padding: 20px 30px;
    width: 100%;
    height: 400px;
    .monthTitle {
      font-weight: bold;
      display: flex;
      justify-content: space-between;
    }
    .monthContainer {
      .weeks {
        font-weight: bold;
        font-size: 12px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        text-align: center;
      }
    }
    .days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      height: 65%;
      text-align: center;
      align-items: center;
      padding-bottom: 20px;
      border-bottom: 0.5px solid black;
      .day {
        .eventDay {
          background: #000;
          color: white;
          border-radius: 50%;
        }
        span {
          margin: 0 auto;
          display: block;
          height: 26px;
          width: 26px;
          font-weight: bold;
          font-size: 12px;
          padding-top: 7px;
        }
      }
    }
  }
}
