<div class="subCalender">
  <div class="subCalenderInner card">
    <div class="monthTitle">
      <span>＜</span>
      <h1>{{ month[5] }}</h1>
      <span>＞</span>
    </div>
    <div class="monthContainer">
      <div class="weeks">
        <div *ngFor="let item of week">
          <p>{{ item }}</p>
        </div>
      </div>
    </div>
    <div class="days">
      <div class="day" *ngFor="let item of days">
        <span class="eventDay">{{ item }}</span>
      </div>
    </div>
  </div>
  <app-schedule></app-schedule>
</div>
