<div class="subCalender">
  <div class="subCalenderInner card">
    <div class="yearContainer">
      <mat-icon class="calenderIcon">calendar_today</mat-icon>
      <h1>{{ year }}</h1>
    </div>
    <div class="monthTitle">
      <mat-icon
        class="next"
        (click)="backMonth()"
        [ngClass]="{ none: initialMonth === 0 }"
        >navigate_before</mat-icon
      >
      <h1>{{ month[initialMonth + 1] }}</h1>
      <mat-icon
        class="next"
        (click)="nextMonth()"
        [ngClass]="{ none: initialMonth === 11 }"
        >navigate_next</mat-icon
      >
    </div>
    <div class="monthContainer">
      <div class="weeks">
        <div
          *ngFor="let item of weeks; let i = index"
          [ngClass]="{ colorRed: i === 0 }"
        >
          <p>{{ item }}</p>
        </div>
      </div>
    </div>
    <div class="days">
      <div
        class="day"
        *ngFor="let item of calendar[initialMonth]"
        [ngClass]="{ color: item.schedule.length }"
      >
        <span
          class="eventDay"
          [style.background]="item.color"
          [ngClass]="{
            done: item.style === false,
            color: item.schedule.length,
            today: item.today === true,
            special:item.special === true,
          }"
          >{{ item.date }}</span
        >
      </div>
    </div>
  </div>
  <app-schedule></app-schedule>
</div>
