.schedule {
  margin-top: 30px;
  height: auto;
  padding: 20px;
  &-item {
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      .calenderIcon {
        color: rgb(56, 56, 200);
      }
      h1 {
        font-weight: bold;
        font-size: 20px;
        padding-left: 5px;
      }
    }
    .editInfo {
      text-align: center;
      margin: 8px 0;
      font-weight: bold;
      font-size: 13px;
    }

    ul {
      margin-top: 20px;
      .notSchedule {
        border-bottom: 2px solid rgb(135, 130, 130);
        padding-bottom: 7px;
        margin-bottom: 20px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
      }

      li {
        border-bottom: 2px solid rgb(135, 130, 130);
        padding: 10px 0;
        width: 100%;
        &:hover {
          background: rgb(213, 208, 208);
        }
        div {
          display: flex;
          align-items: center;
          gap: 5px;
          width: 100%;
          .editIcon {
            // opacity: 0;
            display: block;
            transition: 0.2s;
            cursor: pointer;
            &:hover {
              color: rgb(76, 75, 75);
            }
          }
          .itemBox {
            display: flex;
            align-items: center;
            justify-content: space-between;

            input {
              border: none;
              cursor: pointer;
              font-weight: bold;
              padding: 5px 5px;
            }
            input[type="text"]::placeholder {
              color: black;
              font-weight: bold;
            }
            input:focus {
              &::placeholder {
                opacity: 0.6;
              }
            }
            input:focus + .editIcon {
              // opacity: 1;
              display: inline-block;
            }
            .deleteIcon {
              cursor: pointer;
              &:hover {
                opacity: 0.8;
              }
            }
            input:focus-within + .deleteIcon {
              opacity: 0;
            }
          }
          span {
            display: block;
            font-weight: bold;
            padding: 0 5px;
            position: relative;
            background: linear-gradient(transparent 60%, yellow 40%);
            border-radius: 10px;
          }

          .checkIcon {
            font-weight: bold;
            color: red;
          }
        }
      }
    }
  }
}
