<div class="schedule card">
  <div class="schedule-item">
    <div class="title">
      <mat-icon> list_alt</mat-icon>
      <h1>{{ schedule.selectedMonth }}月{{ schedule.date }}の予定</h1>
    </div>
    <ul>
      <div
        class="notSchedule"
        *ngIf="schedule === undefined || !schedule.length"
      >
        <mat-icon>person</mat-icon>
        <h1>予定はありません。</h1>
      </div>
      <li *ngFor="let item of schedule.schedule">
        <div class="schedule-item-inner">
          <mat-icon class="checkIcon">check</mat-icon>
          <div class="itemBox">
            <span>{{ item.text }}</span>
            <mat-icon class="deleteIcon" (click)="deleteItem()"
              >cancel</mat-icon
            >
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
