<div class="schedule card">
  <div class="schedule-item">
    <div class="title">
      <mat-icon> list_alt</mat-icon>
      <h1>{{ schedule.selectedMonth }}月{{ schedule.date }}の予定</h1>
    </div>

    <ng-template #noItems>
      <div class="notSchedule">
        <mat-icon>person</mat-icon>
        <h1>予定はありません。</h1>
      </div>
    </ng-template>
    <ul>
      <ng-container *ngIf="schedule.schedule.length > 0; else noItems">
        <div class="editInfo">
          <p>予定をクリックで編集</p>
        </div>
        <li *ngFor="let item of schedule.schedule; let i = index">
          <div class="notSchedule" *ngIf="item.length === 0"></div>
          <div class="schedule-item-inner">
            <mat-icon class="checkIcon">check</mat-icon>
            <div class="itemBox">
              <input type="text" placeholder="{{ item.text }}" #inputText />
              <!-- (focus)="isFocus = true"
                (blur)="isFocus = false" -->
              <!-- <ng-container *ngIf="isFocus"> -->
              <mat-icon
                class="editIcon"
                (click)="editFunction(inputText.value, i)"
                >edit</mat-icon
              >
              <!-- </ng-container> -->
              <!-- <span>{{ item.text }}</span> -->
              <!-- <ng-container *ngIf="!isFocus"> -->
              <mat-icon class="deleteIcon" (click)="deleteItem(i)"
                >cancel</mat-icon
              >
              <!-- </ng-container> -->
            </div>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
