<div class="schedule card">
  <div class="schedule-item">
    <div class="title">
      <mat-icon> list_alt</mat-icon>
      <h1>予定</h1>
    </div>
    <ul>
      <li>
        <div class="schedule-item-inner">
          <p>・買い物</p>
          <span>カレーを作る。ルー必須！</span>
        </div>
      </li>
      <li>
        <div class="schedule-item-inner">
          <p>・買い物</p>
          <span>カレーを作る。ルー必須！</span>
        </div>
      </li>
      <li>
        <div class="schedule-item-inner">
          <p>・買い物</p>
          <span>カレーを作る。ルー必須！</span>
        </div>
      </li>
    </ul>
  </div>
</div>
