/* You can add global styles to this file, and also import other style files */
body {
  height: 100vh;
  overflow: hidden;
  background-color: RGB(235, 235, 235);
}
.card {
  background: white;
  box-shadow: 12px 19px 21px -12px #777777;
  border-radius: 5px;
}
